@import './_variables.scss';
@import 'customBootStrapSassStyles.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $color-black;
  color: $secondary-color;
  font-family: 'Amatic SC', sans-serif;
  cursor: url('catPointer.png'), url('catPointerFallback1.png'), url('catPointerFallback2.png'), auto;
}

.custom-font {
  font-family: 'Montserrat', sans-serif;
}
