
@import './../../variables';


.greeting-header {
    font-size: 4rem;
    text-align: center;
    padding: 2rem 0rem
}

.tables-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem ;
    gap: 2rem;

    .Internetfacts-table-container {
        min-width: 330px;
        max-width: 350px;

        
        h1 {
            text-align: center;
        }
        .pagination-buttons-container {
            padding: 1rem 0;
            text-align: center;
        }
        .progress-bar-container{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 330px;
            min-height: 532px;
        }

    }
    
    @media (min-width: 768px) {
        .Internetfacts-table-container {
            min-width: 400px;
            max-width: 600px;
        }
    }
    .users-cat-facts-table-container {
        min-width: 330px;
        max-width: 350px;
        h1 {
            text-align: center;
        }
        .progress-bar-container{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 330px;
            min-height: 290px;
        }                                                                             

    }

    @media (min-width: 768px) {
        .users-cat-facts-table-container {
            min-width: 400px;
            max-width: 600px;
        }
    }



}
.add-new-fact-container{
    h1 {
        text-align: center;
    }
}

.footer {
    display: flex;
    font-size: 0.5rem;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
    padding:  10rem 0 4rem 0;
}