@import './../../variables';

.users-cat-facts-table-container {
  min-width: 330px;
  max-width: 350px;
  h1 {
    text-align: center;
    font-size: 3rem;
  }

  textarea {
    width: 100%;
    resize: vertical;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 90px;
  }

  .progress-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 330px;
    min-height: 290px;
  }

  .row-owner-wrapper {
    span {
      font-weight: 600;
      color: $accent-color;
    }
  }

  .icon-button-container {
    button {
      border: none;
      background: none;
      padding: 7px;
      cursor: pointer;
      //  color: blue;
    }
    .bi-pencil-fill,
    .bi-x-circle {
      color: $accent-color;
    }
    .bi-floppy2-fill {
      color: rgb(29, 102, 29);
    }
  }
  .bi-trash3 {
    color: rgb(151, 22, 22);
  }
}

@media (min-width: 768px) {
  .users-cat-facts-table-container {
    min-width: 400px;
    max-width: 600px;
  }
}
