@import './../../variables';

form.add-fact-form {
  width: 100%;

  .alerts-container {
    max-width: 300px;
    margin: auto;
  }

  .add-fact-form-elements-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
    label {
      font-size: 1.5rem;
    }
    textarea {
      // width: 100%;
      min-width: 200px;
      resize: vertical;
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      min-height: 100px;
    }
  }
}
