@import './../../variables';


.parent-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100lvh;
  justify-content: ceneter;
  align-items: center;
  padding: 1rem 3rem 0 3rem;
  span {
    color: $accent-color;
  }
  .header-container {
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 4rem;

    h1 {
      font-size: 4rem;
      text-align: center;
    }
  }
}

form.login-form {
  padding: 0 0 0rem 0 ;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .form_control {
    padding-bottom: 1rem;
    width: 100%;

    label {
      font-size: 2rem;
      // display: block;
      padding-bottom: 0.25rem;
    }
    input[type='text'],
    input[type='password'] {
      width: 100%;
      padding: 0.5em;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  }
  button {
    // margin-top: 1rem;
    max-width: 400px;
  }
}
