@import './../../variables';

form.add-fact-form {
    width: 100%;

    .add-fact-form-elements-container{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: center;
        align-items: baseline;
        label {
            font-size: 1.5rem;
        }
        input{
            min-width: 120px;
        }

    }
}