$secondary-color: #ffda6a;
$accent-color: #ffa500;
$color-black: #161616;
$color-white: #fff;
$size: 170px;

$disabled-text-color: #888; /* Light gray for disabled text */
$disabled-bg-color: #f0f0f0; /* Light background color for disabled buttons */
